body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(236, 236, 236);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #333;
  color: white;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

audio {
  width: 250px;
  border: 2px solid #2ecc71;
  border-radius: 5px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}