table {
  border-collapse: collapse;
  width: 80%;
  margin: 30px auto;
  font-family: Arial, sans-serif;
}

th,
td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

th {
  background-color: #3874d4;
}

img {
  width: 120px;
  height: auto;
  border-radius: 5px;
}

a {
  color: #0073e6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.top_title {
  color: white;
  background: blue;
  border-width: 2px;
  border-block-color: black;
}

.highlight_line {
  background-color: lightcyan;
  font-size: 20px;
  color: darkblue;
  font-weight: bold;
}

.link_click {
  color: darkblue;
}

.link_click:visited {
  color: purple;
}