table {
      border-collapse: collapse;
      width: 80%;
      margin: 30px auto;
      font-family: Arial, sans-serif;
    }
    th, td {
      border: 1px solid #ccc;
      text-align: center;
      padding: 10px;
    }
    th {
      background-color: #3874d4;
    }
    img {
      width: 120px;
      height: auto;
      border-radius: 5px;
    }
    a {
      color: #0073e6;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }